{% trans_default_domain "wellcommerce" %}
{% if dataset.pagination.totalRows > 0 %}
    {% for news in dataset.rows %}
        <div class="media">
            <div class="media-left">
                <a href="{{ news.route }}">
                    <img class="img-circle" src="{{ image(news.photo, 'small') }}" alt="{{ news.topic }}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ news.topic }}</h4>
                <p class="text-muted small">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ news.startDate.format('Y-d-m H:i:s') }}
                </p>
                <p>{{ news.summary | raw }}</p>
                <div class="text-right">
                    <br><br>
                    <a class="btn btn-primary btn-sm" href="{{ news.route }}">
                        {% trans %}news_feed.button.read_more{% endtrans %} <i class="fa fa-chevron-right" aria-hidden="true"></i></i>
                    </a>
                </div>
            </div>
        </div>

        <hr>

    {% endfor %}

    {% include 'WellCommerceAppBundle:Front/Common:pagination.html.twig' %}
{% else %}
    <div class="alert alert-info" role="alert">
        <strong>{% trans %}news_feed.flash.empty{% endtrans %}</strong>
    </div>
{% endif %}
