{% import "WellCommerceAppBundle:Front/Form:macros.html.twig" as macros %}
{% include 'WellCommerceAppBundle:Front/Common:flashes.html.twig' %}
{% trans_default_domain "wellcommerce" %}
<div class="well-form">
    <h4>{% trans %}client.heading.login{% endtrans %}<small>{% trans %}form.help.required_fields{% endtrans %}</small></h4>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {{ macros.form_begin(form) }}

        {% for element in elements %}
            {{ macros.element(element) }}
        {% endfor %}

        <div class="row">
        	<div class="col-sm-6">
            	<a href="{{ path('front.client_password.reset') }}" class="btn btn-link nopadding notransform">{% trans %}client.link.password_forgotten{% endtrans %}</a>
            </div>
			<div class="col-sm-6">
	            <div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
	                    <button type="submit" class="btn btn-primary pull-right">{% trans %}client.button.login{% endtrans %}</button>
					</div>
                    {% if currentShop().facebookConnectEnabled == true %}
					<div class="btn-group btn-group-oauth" role="group">
	                    <a href="{{ path('front.oauth.connect', {"provider": "facebook"}) }}" class="btn btn-fb"><i class="fa fa-facebook"></i></a>
					</div>
                    {% endif %}
                    {% if currentShop().googleConnectEnabled == true %}
                    <div class="btn-group btn-group-oauth" role="group">
                        <a href="{{ path('front.oauth.connect', {"provider": "google"}) }}" class="btn btn-google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    {% endif %}
				</div>
			</div>
        </div>
    {{ macros.form_end(form) }}

    <div class="alert alert-sm mtp30">
        <strong>{% trans %}client.benefits.headline{% endtrans %}</strong>
        <ul>
            <li>{% trans %}client.benefits.line1{% endtrans %}</li>
            <li>{% trans %}client.benefits.line2{% endtrans %}</li>
            <li>{% trans %}client.benefits.line3{% endtrans %}</li>
        </ul>

        <br>
        <div class="text-right">
            <b><a href="{{ path('front.client.registration') }}" class="text-muted">{% trans %}client.button.go_to_registration{% endtrans %} <span class="glyphicon glyphicon-arrow-right"></span></a></b>
        </div>
    </div>
</div>
